.container {
    height: 90vh;
    display: flex; 
    justify-content: space-around;    
} 

.card {
    border: solid 2px black;
    padding: 12px;
    border-radius: 8px;
    transition: padding 0.1s ease;
}
